body {
  font-family: "Merriweather Sans", sans-serif;
  color: purple;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.menu-image {
  max-width: 700px;
  height: auto;
  display: block;
  margin: 20px auto;
}
.ourmenu {
  text-align: center;
}
button[type="submit"] {
  margin-bottom: 100px;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  font-size: 25px;
}
h3 {
  margin-top: 10px;
}
header .navbar-brand {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}
footer {
  font-size: 12px;
}
